/*Main Stylesheet*/

/*Tag Styles*/
html {
  font-size: 10px;
}

body {
  background: rgba(0, 0, 0, 0.7);
  font-family: sans-serif;
}

header{
  position: absolute;
  top: 0%;
  left: 0%;
  width: 100%;
  height: 100px;
  text-align: center;
  font-size: 4rem;
  background: rgba(255, 255, 255, 0.7);
  border-bottom: 5px solid;
}

h1 {
  position: absolute;
  top: 0%;
  left: 0%;
  width: 100%;
  text-align: center;
  font-size: 4rem;
}

kbd {
  display: block;
  font-size: 4rem;
}

/*Class Styles*/
.keys {
  display: flex;
  flex: 1;
  min-height: 100vh;
  align-items: center;
  justify-content: center;
}

.key {
  border: .4rem solid black;
  border-radius: .5rem;
  margin: 1rem;
  font-size: 1.5rem;
  padding: 1rem .5rem;
  transition: all .07s ease;
  width: 10rem;
  text-align: center;
  color: white;
  background: rgba(0, 0, 0, 0.7);
  text-shadow: 0 0 .5rem black;
}

.sound {
  font-size: 1.2rem;
  text-transform: uppercase;
  letter-spacing: .1rem;
  color: white;
}

.playing {
  transform: scale(1.1);
  border-color: #76ff03;
  box-shadow: 0 0 1rem #76ff03;
  color: #76ff03;
}
